@import "bourbon"
@import "vars.sass"
@import "sprite/sprite.sass"

// loads Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/owl.carousel/assets/owl.carousel.sass"

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

//	Секция what_else_do
.what_else_do
	min-height: 768px
	background-color: #0b2848
	text-align: center
	.container
		position: relative
	h2
		text-transform: uppercase
		margin-bottom: -3px
		@include font($main_color, 36px, $font_Amazing_Grotesk_Demi_Bold)
	p
		margin: auto
		width: 264px
		@include font(#fff, 18px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
	.what_else_do_items
		margin-top: 70px
		position: relative
		z-index: 2
		.what_else_do_item
			display: inline-block
			vertical-align: top
			margin-right: 20px
			p
				width: 190px
				margin-top: 3px
				@include font(#fff, 16px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
			a
				&:hover
					text-decoration: none
				&:active
					text-decoration: none
				&:focus
					text-decoration: none
				
	.what_else_do_line
		position: absolute
		top: 200px
		left: 14px
		z-index: 2
	.what_else_do_cloud
		position: absolute
		bottom: -434px
		left: 303px
		z-index: 1
//	Секция our_portfolio
.our_portfolio
	min-height: 990px
	background: #031420 url('../img/our_portfolio_clouds.png') center top 100px no-repeat
	text-align: center
	.our_portfolio_img
		margin-top: 295px
	h2
		text-transform: uppercase
		margin-bottom: -3px
		@include font($main_color, 36px, $font_Amazing_Grotesk_Demi_Bold)
	p
		font-size: 18px

	.customPrevBtn
		margin-top: 50px
		@include sprite($slider_arrow_left)
		cursor: pointer
		z-index: 100
		display: inline-block
		margin-right: 10px
	.customNextBtn
		@include sprite($slider_arrow_right)
		cursor: pointer
		z-index: 100
		display: inline-block
		margin-left: 10px
//	 slider
.slider
	margin-top: 38px
	position: relative
	.slider_item
		position: relative
		&:hover .slider_mask
			opacity: 1

	.slider_mask
		width: 100%
		height: 100%
		opacity: 0
		position: absolute
		top: 0
		left: 0
		right: 0
		transition: opacity, background-color, .5s
		background-color: rgba(25, 25, 25, 0.69)
		i
			position: absolute
			top: calc(50% - 35px)
			left: 0
			right: 0
			font-size: 24px
		a
			width: 161px
			height: 39px
			display: inline-block
			position: absolute
			top: calc(50% - 5px)
			left: calc(50% - 80.5px)
			right: 0
			border: 1px solid #FFF
			background: transparent
			transition: 0.5s
			z-index: 3
			text-decoration: none
			@include font(#fff, 18px, $font_RobotoRegular, 35px)
			&:hover
				text-decoration: none
				background: #fff
				color: #000
			&:focus
				outline: 0
		.fa
			display: block
	a.slider_link
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: 1

//	Секция our_achievements
.our_achievements
	min-height: 760px
	background: #0b2848 url('../img/our_achievements_clouds.png') center top 88px no-repeat
	position: relative
	.our_achievements_top_decoration
		position: absolute
		top: -32px
		left: 27px
		right: 0
		text-align: center
	.our_achievements_txt
		margin-top: 384px
		text-align: center
	h2
		text-transform: uppercase
		margin-bottom: -3px
		@include font($main_color, 36px, $font_Amazing_Grotesk_Demi_Bold)
	.our_achievements_items
		margin-top: 50px
		text-align: center
	.our_achievements_item
		display: inline-block
		vertical-align: top
		margin-right: 20px
		text-align: center
		&:last-of-type
			margin-right: 0
		p
			width: 175px
			margin-top: -1px
			font-size: 18px
			line-height: 1.2
			span
				@include font($main_color, 30px, $font_Amazing_Grotesk_Ultra, 0.5)

//	Секция take_part
.take_part
	min-height: 1193px
	text-align: center
	background: #0b2848 url('../img/take_part_clouds.png') center top -4px no-repeat
	.container
		position: relative
	h2
		width: 540px
		margin: 64px auto 0
		text-transform: uppercase
		@include font($main_color, 36px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
	.take_part_img
		margin-top: 39px
		position: relative
		z-index: 10
	.take_part_txt_wrap
		width: 100%
		height: 100%
		position: absolute
		top: 0
		z-index: 1
	.take_part_txt_item
		width: 180px
		text-align: center
		position: absolute
		display: inline-block
		p
			@include font($main_txt_color, 18px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
			&.take_part_txt_title
				@include font($main_txt_color, 24px, $font_Amazing_Grotesk_Ultra, 1.2)
		&.item1
			top: 378px
			left: 493px
		&.item2
			top: 627px
			left: 206px
		&.item3
			top: 899px
			left: 300px
		&.item4
			top: 899px
			right: 346px
		&.item5
			top: 627px
			right: 226px

	.take_part_txt_item_links
		width: 230px
		top: 584px
		right: 485px
		position: absolute
		z-index: 11
		a
			height: 61px
			display: inline-block
			padding: 0 9px
			background-color: #EED350
			@include font(#000, 18px, $font_Amazing_Grotesk_Demi_Bold, 61px)
			transition: 0.5s
			&:hover
				text-decoration: none
				background-color: $auxiliary_color
			&:focus
				text-decoration: none
				background-color: $auxiliary_color
			&:active
				text-decoration: none
				background-color: $auxiliary_color

	.take_part_img_bot_decor
		position: absolute
		bottom: -90px
		left: 19px
		right: 0
		text-align: center

//	Секция our_clients
.our_clients
	min-height: 520px
	background: none
	background-color: #03142e
	.our_clients_title
		margin-top: 113px
	.our_clients_slider
		margin-top: 40px
	.owl-item
		div
			height: 160px
			display: table-cell
			text-align: center
			vertical-align: middle
			padding-left: 10px
			img
				display: table-cell
				vertical-align: middle
				height: auto
//	Секция map
.map
	min-height: 545px
	position: relative
	overflow: hidden
	.container
		position: relative
	.map_txt_block
		width: 270px
		height: 300px
		position: absolute
		top: 77px
		left: 213px
		.map_txt_top_title
			height: 60px
			background: #e84f4a url('../img/map_txt_top_title_shadow.png') 20px 21px no-repeat
			text-align: center
			h3
				text-transform: uppercase
				@include font(#fff, 24px, $font_Amazing_Grotesk_Ultra, 60px)
		.map_txt_main
			min-height: 238px
			max-height: 326px
			overflow: hidden
			background-color: rgba(54, 64, 76, 0.7)
			padding-left: 20px
			padding-top: 15px
			@include font(#fff, 14px, $font_Amazing_Grotesk_Demi_Bold)
			a
				display: inline-block
				margin-bottom: 6px
				@include font(#fff, 18px, $font_Amazing_Grotesk_Demi_Bold)
				transition: 0.5s
				&:hover
					text-decoration: none
					color: $main_color
			p
				padding-top: 10px
				&:last-of-type
					padding-bottom: 10px

#googlemaps
	position: static !important
	background: #fff url() 0 0 no-repeat
	overflow: hidden
//	Секция book_now
.book_now
	min-height: 770px
	background: #03142e url('../img/book_now_clouds.png') center top 130px no-repeat
	overflow: hidden
	.container
		position: relative
	h2
		text-transform: uppercase
		@include font($main_color, 36px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
	.book_now_form
		width: 370px
		margin-top: 100px
		margin-left: 211px
		position: relative
		z-index: 1
		input
			width: 100%
			height: 55px
			border: 1px solid #FFF
			padding-left: 25px
			margin-bottom: 20px
			background-color: transparent
			@include font($main_txt_color, 18px, $font_Amazing_Grotesk_Demi_Bold)
			&:active
				outline: 0
			&:focus
				outline: 0
			&::-webkit-input-placeholder
				color: #fff
				opacity: 1

			&:-moz-placeholder
				color: #fff
				opacity: 1

			&::-moz-placeholder
				color: #fff
				opacity: 1

			&:-ms-input-placeholder
				color: #fff
				opacity: 1
		textarea
			width: 100%
			height: 200px
			padding-top: 20px
			padding-left: 25px
			background-color: transparent
			margin-bottom: 20px
			@include font($main_txt_color, 18px, $font_Amazing_Grotesk_Demi_Bold)
			&:active
				outline: 0
			&:focus
				outline: 0
			&::-webkit-input-placeholder
				color: #fff
				opacity: 1

			&:-moz-placeholder
				color: #fff
				opacity: 1

			&::-moz-placeholder
				color: #fff
				opacity: 1

			&:-ms-input-placeholder
				color: #fff
				opacity: 1
		input[type=submit]
			width: 270px
			height: 68px
			background-color: #FFB819
			padding-left: 0
			text-transform: uppercase
			border: none
			@include font($auxiliary_txt_color, 24px, $font_Amazing_Grotesk_Demi_Bold)
			transition: 0.5s
			&:hover
				background-color: #c45237
	.book_now_city
		position: absolute
		bottom: -62px
		right: -351px
		z-index: 0

.modal_form_input_wrap
	position: relative
	display: block
	text-align: center
	.modal_input_error
		width: 141px
		height: 35px
		display: none
		position: absolute
		right: -25px
		top: 43px
		padding-left: 10px
		color: #000
		font: 12px/35px $font_Amazing_Grotesk_Regular
		background-color: #fff
		border: 1px solid #C8C8C8
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3)
		box-shadow: 0 0 10px rgba(0, 0, 0, .3)
		z-index: 100
		&.input_error_email
			width: 215px
		&.input_error_phone
			width: 235px
		&.form_error
			display: block
	.modal_error_chest_img
		width: 9px
		position: relative
		background-image: url('../img/modal_error_chest_img.png')
	.modal_error_triangle
		width: 9px
		position: relative
		background-image: url('../img/modal_error_triangle.png')
	.modal_error_chest_img
		top: -31px
		left: 0
		height: 9px
	.modal_error_triangle
		top: -43px
		left: 10px
		height: 8px
.select
	position: relative
	text-align: left
	.drop
		width: 100%
		max-height: 200px
		overflow: auto
		margin: 0 auto
		padding: 0
		border-top: none
		display: none
		position: absolute
		background-color: #fff
		top: 50px
		left: 0
		right: 0
		z-index: 10
		li
			list-style: none
			border-bottom: none
			border-top: none
			cursor: pointer
			display: block
			@include font($auxiliary_txt_color, 18px,  $font_Amazing_Grotesk_Demi_Bold, 1.2)
			padding: 7px 15px 7px 25px
			&:hover
				background-color: rgba(0,0,0,0.2)
				outline: 0
			a
				text-decoration: none
	.slct
		width: 100%
		height: 50px
		padding-left: 25px
		padding-right: 30px
		margin-bottom: 15px
		display: block
		@include font(#fff, 18px,  $font_Amazing_Grotesk_Demi_Bold, 1.2)
		background: transparent
		border: 1px solid #FFF
		line-height: 50px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		-o-text-overflow: ellipsis
		text-decoration: none
		position: relative
		transition: color 1s
		&.active
			color: #000
			background: #fff

	.slct_arrow
		position: absolute
		top: 9px
		right: 10px
		font-size: 24px
		.fa
			transition: 0.3s
		&.active .fa
			color: #000
			transform: rotate(180deg)
			z-index: 10
			position: relative
//	Секция website_promotion
.website_promotion
	min-height: 1560px
	background: #03142e url('../img/main_clouds.png') center top 400px no-repeat
	.container
		position: relative
	h1
		margin-top: 130px
		text-align: center
		@include font($main_color, 48px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
	.main_content_txt_wrap
		width: 755px
		margin: -13px auto 0
		text-align: center
		p
			margin-bottom: 30px
			@include font(#fff, 24px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
			span
				@include font(#fff, 24px, $font_Amazing_Grotesk_Ultra, 1.2)
	.website_promotion_img_slider
		text-align: center
		margin-top: 50px
		position: relative
	.owl-carousel3
		width: 707px
		position: absolute
		top: 31px
		left: 246px
		.owl-controls
			margin-top: 53px
			.owl-dots
				text-align: center
				.owl-dot
					width: 23px
					height: 23px
					display: inline-block
					margin-right: 8px
					background-color: transparent
					border-radius: 50%
					border: 1px solid #fff
					transition: 0.5s
					&:last-of-type
						margin-right: 0
					&.active
						background-color: #fff

	.website_promotion_clouds
		margin: auto
		position: absolute
		bottom: -437px
		left: 80px
//	Секция why SEO
.what_else_do
	&.why_seo
		min-height: 630px
		.what_else_do_items
			margin-top: 74px
			.what_else_do_item
				margin-right: 5px
				p
					margin-top: 20px
		.what_else_do_line
			margin-top: -115px
		h2
			margin-top: 57px
			line-height: 1.2
		.what_else_do_cloud
			bottom: -410px

//	Секция free_audit
.free_audit
	min-height: 905px
	background-color: #03142e
	text-align: center
	h2
		margin-top: 273px
		margin-bottom: 20px
		text-transform: capitalize
		@include font($main_color, 36px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
	p
		font-size: 24px
		line-height: 1.2
	form
		width: 370px
		margin: 15px auto 0
		input
			width: 100%
			height: 55px
			border: 1px solid #FFF
			padding-left: 25px
			margin-bottom: 20px
			background-color: transparent
			@include font($main_txt_color, 18px, $font_Amazing_Grotesk_Demi_Bold)
			&:active
				outline: 0
			&:focus
				outline: 0
			&::-webkit-input-placeholder
				color: #fff
				opacity: 1

			&:-moz-placeholder
				color: #fff
				opacity: 1

			&::-moz-placeholder
				color: #fff
				opacity: 1

			&:-ms-input-placeholder
				color: #fff
				opacity: 1
		input[type=submit]
			height: 68px
			margin-top: 10px
			padding-left: 0
			background-color: #FFB819
			text-transform: uppercase
			border: none
			@include font($auxiliary_txt_color, 24px, $font_Amazing_Grotesk_Demi_Bold)
			transition: 0.5s
			&:hover
				background-color: #c45237
//	Секция myths_and_reality
.our_achievements
	&.myths_and_reality
		text-align: center
		h2
			margin-top: 400px
			text-transform: capitalize
			@include font($main_color, 48px, $font_Amazing_Grotesk_Demi_Bold, 1.2)
		p
			width: 930px
			margin: 25px auto 30px
			font-size: 24px
			line-height: 1.2
//	Секция from_what_is_seo
.from_what_is_seo
	min-height: 1372px
	position: relative
	background: #0b2848 url('../img/from_what_is_seo_clouds.png') center top 0 no-repeat
	h2
		margin-top: 40px
		text-align: center
		font-size: 36px
		color: $main_color
		text-transform: capitalize
	.from_what_is_seo_txt
		width: 370px
		margin-top: 210px
		margin-left: 16px
		float: left
		h3
			font-size: 20px
			margin-bottom: 0px
			color: $main_color
			text-transform: capitalize
		p
			line-height: 1.2
		&.txt2
			margin-right: 17px
			float: right
	.from_what_is_seo_img_wrap
		width: 385px
		margin-left: 20px
		float: left
		.from_what_is_seo_img
			text-align: center
			display: inline-block
			margin-right: 10px
			margin-left: 9px
			margin-top: 20px
			&:first-of-type
				display: block
				margin: 0
	.row + .row
		h2
			margin-top: 80px
			font-size: 48px
			line-height: 1.2
		p
			width: 631px
			margin: -21px auto 45px
			font-size: 24px
			text-align: center
			line-height: 1.3

			& + p
				width: 761px
		h3
			margin-top: -7px
			margin-bottom: 41px
			font-size: 30px
			line-height: 1.2
			color: $main_color
			text-transform: capitalize
			text-align: center
			& + p
				width: 800px
				line-height: 1.2
	.from_what_is_seo_bot_decor
		position: relative
		svg
			position: absolute
			bottom: -226px
			left: 469px
//	Секция stages_of_advancement
.stages_of_advancement
	min-height: 1317px
	background-color: #03142e
	h2
		margin-top: 80px
		text-align: center
		font-size: 48px
		color: $main_color
		text-transform: capitalize
	.stages_of_advancement_item
		margin-bottom: 40px
		margin-left: 20px
		h3
			margin-top: 0
			margin-bottom: -3px
			font-size: 30px
			color: $main_color
			text-transform: capitalize
		p
			font-size: 24px
			line-height: 1.2
		span
			@include font($main_color, 36px, $font_Amazing_Grotesk_Ultra)
	.stages_of_advancement_item_img
		float: left
		margin-right: 25px
//	Секция cost_optimization
.cost_optimization
	min-height: 880px
	background: #0b2848 url('../img/from_what_is_seo_clouds.png') center top 0 no-repeat
	h2
		margin-top: 80px
		margin-bottom: 0
		& + p
			margin-bottom: 40px
	p
		font-size: 24px
		text-align: center
		line-height: 1.2
	.stages_of_advancement_item
		margin-left: 0
		margin-bottom: 45px
		p
			text-align: left
//	Секция with_expert_advice
.book_now
	&.with_expert_advice
		min-height: 770px
		text-align: center
		.book_now_form
			width: 800px
			margin: 40px auto 0
		h2
			text-transform: none
			margin-top: 90px
			span
				@include font($main_color, 36px, $font_Amazing_Grotesk_Ultra, 1.2)
		form
			width: 370px
			margin: 48px auto 0
			input[type=submit]
				width: 100%
				margin-top: 10px
				padding-left: 0
				font-size: 20px
			p
				font-size: 18px
				margin-top: -15px

//	Секция our_work
.our_work
	min-height: 740px
	background: #0b2848 url('../img/from_what_is_seo_clouds.png') center top 0 no-repeat
	h2
		margin-top: 75px
		margin-bottom: 30px
		text-align: center
		font-size: 48px
		color: $main_color
		text-transform: capitalize
	.our_work_item_wrap
		overflow: hidden
	.our_work_item
		float: left
		margin-right: 30px
		text-align: center
		margin-bottom: 50px
		&:last-of-type
			margin-bottom: 100px
		&:nth-of-type(odd)
			margin-left: 114px
		&:last-of-type
			margin-right: 0
		.our_work_item_img
			border: 20px solid #eed350
			position: relative
			a
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				right: 0
				z-index: 2
				background: transparent
				transition: 0.5s
				@extend %flex
				&:hover span
					opacity: 1
					transform: translateY(0)
				&:hover
					text-decoration: none
					background: rgba(3,20,46,.7)
				&:active
					text-decoration: none
				&:focus
					text-decoration: none
				
			span
				transform: translateY(50px)
				opacity: 0
				font-size: 27px
				color: $main_txt_color
				transition: 0.5s
		& > a
			height: 52px
			display: inline-block
			margin-top: 25px
			padding-left: 73px
			padding-right: 73px
			background-color: $main_color
			color: #000
			font-size: 20px
			line-height: 52px
			text-transform: uppercase
			transition: 0.5s
			&:hover
				text-decoration: none
				background-color: $auxiliary_color
			&:active
				text-decoration: none
			&:focus
				text-decoration: none
//	Секция contacts
.contacts
	min-height: 747px
	background: #03142e url('../img/our_achievements_clouds.png') center top 200px no-repeat
	h2
		margin-top: 117px
		margin-left: 215px
		margin-bottom: 5px
		font-size: 48px
		color: $main_color
	h3
		margin-top: -13px
		margin-bottom: 19px
		font-size: 24px
		color: $main_color
	.contacts_item_wrap
		float: left
		p
			font-size: 24px
			line-height: 1.2
			& + p
				margin-top: 20px
			a
				color: #fff
				&:hover
					text-decoration: none
	.contacts_item
		width: 614px
		overflow: hidden
		margin-bottom: 20px
	.contacts_item_img
		margin-left: 45px
		display: inline-block
	.contacts_item_txt
		margin-left: 55px
		display: inline-block
		vertical-align: middle
	.contacts_form_wrap
		width: 570px
		float: left
	input
		width: 100%
		height: 30px
		margin-bottom: 25px
		background: transparent
		border: none
		border-bottom: 1px solid $main_color
		font-size: 18px
		z-index: 1
		position: relative
		&:focus
			outline: 0
		&:active
			outline: 0
	label
		position: absolute
		z-index: 0
		font-size: 18px
		transition: .2s ease-out
		&.is_focused
			font-size: 13px
			-webkit-transform: translateY(-120%)
			-moz-transform: translateY(-120%)
			-ms-transform: translateY(-120%)
			-o-transform: translateY(-120%)
			transform: translateY(-120%)
	input[type=submit]
		width: 270px
		height: 61px
		margin-top: 10px
		font-size: 24px
		background-color: #FFB819
		color: $auxiliary_txt_color
		transition: 0.5s
		border: none
		&:hover
			background-color: $auxiliary_color
	textarea
		width: 100%
		height: 255px
		margin-bottom: 10px
		background: transparent
		border: none
		border-bottom: 1px solid $main_color
		z-index: 1
		position: relative
		&:focus
			outline: 0
		&:active
			outline: 0
	.modal_form_input_wrap
		.modal_input_error
			top: 30px
//	Секция selling_site
.website_promotion
	&.selling_site
		min-height: 1790px
		background: url(../img/main_clouds.png) center top 250px no-repeat,
		#03142e url('../img/selling_site_clouds.png') center bottom 8 px no-repeat
		.container
			position: relative
			z-index: 0
		.main_content_txt_wrap
			width: 910px
			margin-top: -21px
		.selling_site_item_wrap
			margin-top: 108px
			text-align: center
		.selling_site_img
			position: absolute
			right: 0
			left: -4px
			bottom: -50px
			text-align: center
			z-index: -1
		.selling_site_item
			margin-top: 68px
		.selling_site_item_txt
			width: 337px
			margin-left: 31px
			color: $main_color
			display: inline-block
			vertical-align: middle
			text-align: right
			h3
				font-size: 30px
				line-height: 1.2
			a
				color: $main_color
				text-decoration: none
				&:hover
					color: $main_color
					text-decoration: none
				&:active
					color: $main_color
					text-decoration: none
				&:focus
					color: $main_color
					text-decoration: none
		.selling_site_item_txt2
			width: 380px
			font-size: 24px
			line-height: 1.2
			text-align: left
			display: inline-block
			vertical-align: middle
			a
				color: $main_txt_color
				text-decoration: none
				&:hover
					color: $main_txt_color
					text-decoration: none
				&:active
					color: $main_txt_color
					text-decoration: none
				&:focus
					color: $main_txt_color
					text-decoration: none
		.selling_site_item_img
			margin-left: 27px
			margin-right: 20px
			display: inline-block
			vertical-align: middle
			a
				display: inline-block
	.website_promotion_decor
		position: absolute
		bottom: -182px
		right: 0
		left: 0
		text-align: center
//	Секция from_idea_to_results
.from_idea_to_results
	min-height: 1870px
	background: url(../img/main_clouds.png) center top 100px no-repeat,
	#0b2848 url('../img/selling_site_clouds.png') center bottom 8px no-repeat
	text-align: center
	.container
		position: relative
	.from_idea_to_results_top_txt
		margin-top: 177px
		p
			width: 1137px
			margin: 0 auto 33px
			font-size: 24px
			line-height: 1.2
			& + p
				width: 1000px
				margin: 0 auto 0
	h2
		margin-bottom: 35px
		font-size: 48px
		color: $main_color
	h3
		font-size: 24px
		color: $main_color
		margin-top: -4px
		margin-bottom: 6px
		span
			font: 24px $font_Amazing_Grotesk_Ultra
	.from_idea_to_results_item
		overflow: hidden
		margin-bottom: 20px
	.from_idea_to_results_img
		float: left
		margin-left: 10px
		margin-right: 33px
	.from_idea_to_results_txt
		width: 962px
		text-align: left
		float: left
		p
			text-align: left
			font-size: 18px
			line-height: 1.2
			margin-bottom: 23px
	.from_idea_to_results_decor
		position: absolute
		bottom: -169px
		left: 0
		right: 0
		text-align: center

//	Секция online_store
.website_promotion
	&.online_store
		min-height: 755px
		background: url('../img/main_clouds.png') center top 100px no-repeat #03142e
		.online_store_wrap
			overflow: hidden
			margin-top: 131px
		.online_store_img
			float: left
			margin-left: 180px
			margin-top: 30px
		h1
			margin-top: 19px
			margin-left: 25px
			margin-bottom: 17px
			float: left
		p
			width: 620px
			float: left
			margin-left: 30px
			margin-bottom: 30px
			font-size: 24px
			line-height: 1.2
		span
			@include font(#fff, 24px, $font_Amazing_Grotesk_Ultra, 1.2)
		.website_promotion_clouds
			bottom: -439px
			z-index: 1
//	Секция does_the_sale
.what_else_do
	&.does_the_sale
		min-height: 630px
		position: relative
		h2
			margin-top: 52px
			font-size: 36px
			color: $main_color
			text-transform: capitalize
			line-height: 1.2
			z-index: 2
			position: relative
		p
			width: 470px
			margin: 20px auto 0
			position: relative
			z-index: 2
		.what_else_do_cloud
			bottom: -215px
			right: 0
			left: 0
			text-align: center
		.does_the_sale_item_wrap
			margin-top: 47px
			margin-left: 0
		.does_the_sale_item
			width: 480px
			margin-left: 17px
			margin-bottom: 19px
			display: inline-block

		.does_the_sale_item_img
			display: inline-block
			vertical-align: middle
		.does_the_sale_item__txt
			width: 365px
			display: inline-block
			vertical-align: middle
			margin-left: 25px
			p
				width: 100%
				font-size: 24px
				margin: 0
				text-align: left

//	Секция examples_of_online_stores
.our_work
	&.examples_of_online_stores
		min-height: 975px
		background: #03142e url('../img/main_clouds.png') center top no-repeat
		position: relative
		h2
			margin-top: 253px
			font-size: 36px
		.our_work_item
			a
				padding-left: 20px
				padding-right: 20px
		.examples_of_online_stores_decor
			position: absolute
			bottom: -65px
			right: 0
			left: 0
			text-align: center
//	Секция cost_of_online_store
.cost_of_online_store
	background: #0b2848
	text-align: center
	&.run
		background: #03142e
		.cost_of_online_store_item_wrap
			margin-bottom: 70px
	h2
		margin-top: 100px
		margin-bottom: 40px
		font-size: 36px
		color: $main_color
		text-transform: capitalize
	.cost_of_online_store_item_wrap
		overflow: hidden
		margin-bottom: 215px
		padding-left: 85px
		padding-top: 30px
		padding-bottom: 30px
		.table
			width: 1030px
			display: none !important
			&.active
				display: block !important
			thead
				tr
					border-bottom: 1px solid rgba(255,255,255, 0.2)
					th
						width: 19.5%
						height: 60px
						@include font($main_color, 18px, $font_Amazing_Grotesk_Ultra)
						&:first-of-type
							width: 430px
							padding-left: 30px
							text-align: left
						&:nth-of-type(3)
							background-color: $main_color
							color: $main_txt_color
							border-radius: 10px 10px 0 0
			tbody
				tr
					&:first-of-type
						height: 25px
						td
							&:nth-of-type(3)
								width: inherit
								height: 25px
								display: table-cell
								line-height: inherit
					td
						padding-top: 5px
						padding-bottom: 5px
						@include font($main_txt_color, 14px, $font_Amazing_Grotesk_Ultra)
						&:first-of-type
							padding-left: 30px
							text-align: left
						&:nth-of-type(3)
							background-color: $main_color
							display: inline-block
							width: 100%
							height: 33px
							line-height: 33px
							i
								color: $main_txt_color
				i
					font-size: 18px
					color: $main_color
			tfoot
				tr
					td
						@include font($main_color, 36px, $font_Amazing_Grotesk_Ultra)
						padding-top: 5px
						padding-bottom: 5px
						&:first-of-type
							@include font($main_txt_color, 36px, $font_Amazing_Grotesk_Ultra)
							padding-left: 30px
							text-align: left
					span
						color: $main_color
					button
						@extend %main_btn
						width: 170px
						height: 52px
						line-height: 52px
						vertical-align: middle
						transition: 0.5s
						&:hover
							@extend %main_btn_hover
						&:active
							@extend %main_btn_active
						&:focus
							@extend %main_btn_focus
							outline: 0
	//.cost_of_online_store_item
	//	width: 370px
	//	margin-right: 28px
	//	float: left
	//	background-color: #fff
	//	color: #000
	//	&:first-of-type
	//		margin-left: 15px
	//	&:last-of-type
	//		margin-right: 0
	//	&.active
	//		box-shadow: 0 0 0 30px $main_color
	//		position: relative
	//		z-index: 2
	//		.cost_of_online_store_item_link
	//			a
	//				background-color: #b48309
	//				&:hover
	//					background-color: #fff
	//					text-decoration: none
	//				&:active
	//					background-color: #fff
	//					text-decoration: none
	//				&:focus
	//					background-color: #fff
	//					text-decoration: none
	//
	//	h3
	//		font-size: 36px
	//		font-family: $font_Amazing_Grotesk_Ultra
	//		margin-bottom: 0
	//	p
	//		margin-top: 0
	//		line-height: 1.2
	//		font-size: 24px
	//		color: #8a8a8a
	//	ul
	//		padding: 0 15px
	//		margin: 44px 0 0 0
	//		li
	//			min-height: 72px
	//			line-height: 70px
	//			list-style: none
	//			font-family: $font_Amazing_Grotesk_Ultra
	//			font-size: 18px
	//			&:nth-child(odd)
	//				background-color: #eaeaea
	//	.cost_of_online_store_item_for_all
	//		height: 150px
	//		background-color: #177898
	//		h4
	//			margin: 0
	//			padding-top: 30px
	//			@include font($main_color, 72px, $font_Amazing_Grotesk_Ultra, 1)
	//		p
	//			margin-top: 0
	//			@include font(#fff, 24px, $font_Amazing_Grotesk_Ultra)
	//	.cost_of_online_store_item_link
	//		height: 65px
	//		a
	//			display: block
	//			height: 100%
	//			line-height: 65px
	//			font-size: 30px
	//			color: #000
	//			background-color: #fff
	//			transition: background-color 0.5s
	//			&:hover
	//				background-color: #b48309
	//				text-decoration: none
	//			&:active
	//				text-decoration: none
	//				background-color: #b48309
	//			&:focus
	//				text-decoration: none
	//				background-color: #b48309
	.cost_of_online_store_bot_decor
		position: relative
		svg
			position: absolute
			bottom: -33px
			left: 469px
			z-index: 10
	.cost_of_online_store_links
		width: 1030px
		height: 53px
		margin-bottom: 20px
		line-height: 53px
		border: 1px solid rgba(255,255,255, 0.2)
		border-radius: 25px
		position: relative
		text-align: left
	.cost_of_online_store_links_item
		display: inline-block
		vertical-align: middle
		margin-right: 73px
		&:last-of-type
			margin-right: 0 !important
		a
			display: inline-block
			padding-left: 55px
			padding-right: 35px
			color: #fff
			position: relative
			z-index: 10
			@include font($main_txt_color, 14px, $font_Amazing_Grotesk_Ultra)
			&:hover
				text-decoration: none
				color: #fff
				outline: 0
			&:active
				text-decoration: none
				color: #fff
				outline: 0
			&:focus
				text-decoration: none
				color: #fff
				outline: 0
		i
			display: inline-block
			vertical-align: middle
			position: absolute
			top: 0
			left: 20px
			&.img_1
				@include sprite($cost_of_online_store_links_item1)
			&.img_2
				@include sprite($cost_of_online_store_links_item2)
			&.img_3
				@include sprite($cost_of_online_store_links_item3)
	.cost_of_online_store_links_chisel
		width: 292px
		height: 53px
		background-color: #eed350
		border-radius: 25px
		position: absolute
		z-index: 0

//	Секция what_tasks_are_performed
.what_tasks_are_performed
	min-height: 400px
	background: #03142e url(../img/what_tasks_are_performed_clouds.png) center top 60px no-repeat
	text-align: center
	h2
		margin-top: 80px
		margin-bottom: 37px
		font-size: 36px
		color: $main_color
		text-transform: capitalize
	h3
		font-size: 30px
		color: #ffffff
	a
		&:hover
			color: transparent
	.what_tasks_are_performed_wrap
		overflow: hidden
	.what_tasks_are_performed_left
		width: 570px
		float: left
		text-align: right
		margin-left: 15px
		margin-right: 30px
	.what_tasks_are_performed_left_title
		display: inline-block
		margin-right: 25px
	.what_tasks_are_performed_img
		vertical-align: middle
		display: inline-block
	.what_tasks_are_performed_right
		width: 570px
		float: left
		text-align: left
	.what_tasks_are_performed_right_title
		display: inline-block
		margin-left: 25px

//	Секция landing_page
.website_promotion
	&.landing_page
		min-height: 795px
		.online_store_img
			margin-left: 118px
			margin-top: 18px
		h1
			margin-top: 42px
		.website_promotion_clouds
			bottom: -446px

.what_else_do
	&.functions_landing
		h2
			margin-top: 40px
			text-transform: uppercase
		.what_else_do_line
			margin-top: -123px
			left: 7px
		.what_else_do_items
			margin-top: 81px
			.what_else_do_item
				margin-right: 110px
				&:last-of-type
					margin-right: 0
//	Секция suitable_for_landing
.suitable_for_landing
	text-align: center
	background: #03142e
	h2
		margin-top: 254px
		margin-bottom: 40px
		font-size: 36px
		color: $main_color
	.suitable_for_landing_items
		text-align: left
	.suitable_for_landing_items_inner
		display: inline-block
		text-align: center
		&:last-of-type
			margin-bottom: 35px
	.suitable_for_landing_item
		width: 370px
		float: left
		margin-right: 30px
		margin-bottom: 40px
		&:nth-of-type(3n + 1)
			margin-left: 15px
		&:nth-of-type(3n)
			margin-right: 0
	.suitable_for_landing_item_img
		border: 15px solid $main_color
	.suitable_for_landing_item_txt
		p
			margin-top: 14px
			font-size: 24px
			color: #ffffff
			line-height: 1.2

//	Секция our_achievements
.our_achievements
	&.why_our_landing_sell
		h2
			margin-top: 390px
			margin-bottom: 0
			font-size: 36px
		p
			width: 550px
			font-size: 24px
	&.cost_of_online_store
		.cost_of_online_store_bot_decor
			svg
				z-index: 1
				bottom: -33px
		.row + .row
			text-align: center
			h2
				width: 550px
				margin: 47px auto 0
				position: relative
				&:after
					content: ""
					background: url("../img/why_our_landing_sell_h2_decor.png")
					display: block
					width: 68px
					height: 74px
					position: absolute
					left: -20px
					top: -31px
			.why_our_landing_sell_item
				margin-bottom: 40px
				margin-left: 109px
				text-align: left
				&:last-of-type
					margin-bottom: 225px
			.why_our_landing_sell_item_img
				display: inline-block
				vertical-align: middle
				margin-right: 25px
			.why_our_landing_sell_item_txt
				display: inline-block
				text-align: left
				vertical-align: middle
				h3
					margin-top: 0
					margin-bottom: 0
					font-size: 30px
					color: $main_color
				p
					width: 775px
					font-size: 24px
					margin: 0

//	Секция portfolio
.portfolio
	text-align: center
	min-height: 400px
	background: #03142e url(../img/what_tasks_are_performed_clouds.png) center top 60px no-repeat
	h2
		margin-top: 120px
		margin-bottom: 30px
		font-size: 48px
		color: $main_color
	.portfolio_tabs
		margin-bottom: 20px
		a
			font-size: 24px
			color: #ffffff
			display: inline-block
			margin-right: 16px
			&:last-of-type
				margin-left: -5px
			&:hover
				color: $main_color
			&.active
				color: $main_color
				text-decoration: underline
	.portfolio_item_wrap
		min-height: 700px

	.portfolio_item
		width: 370px
		float: left
		margin-right: 30px
		margin-bottom: 30px
		border: 15px solid $main_color
		position: relative
		overflow: hidden
		&:nth-of-type(3n+1)
			margin-left: 15px
		&:nth-of-type(3n)
			margin-right: 0
		&:hover .portfolio_item_mask
			opacity: 1
		&:hover .portfolio_item_img img
			transform: scale(1.2)
		a
			position: absolute
			width: 100%
			height: 100%
			top: 0
			right: 0
			left: 0
			z-index: 2
			&:hover
				background: transparent
			&:active
				background: transparent
			&:focus
				background: transparent
	.portfolio_item_img
		img
			transition: 2s
	.portfolio_item_mask
		position: absolute
		width: 100%
		height: 100%
		top: 0
		right: 0
		left: 0
		opacity: 0
		background: rgba(3, 20, 46, 0.70)
		transition: 0.5s
		z-index: 1
		@extend %flex
		i
			font-size: 48px
			color: #ffffff
	#portfolio_item_btn
		width: 370px
		height: 60px
		background-color: #eed350
		display: none
		margin: 0 auto 50px
		transition: 0.5s
		font-size: 24px
		color: #000000
		border: none
		&:hover
			background-color: $auxiliary_color
		&:active
			background-color: $auxiliary_color
		&:focus
			background-color: $auxiliary_color
			outline: 0
		
//	Секция site_card
.website_promotion
	&.site_card
		.website_promotion_clouds
			bottom: -480px
.what_else_do
	&.site_card
		.what_else_do_items
			.what_else_do_item
				margin-right: 4px
//	Секция suitable_for_landing
.suitable_for_landing
	&.note
		p
			width: 604px
			margin: 0 auto 30px
			line-height: 1.2
			font-size: 24px
			&:last-of-type
				margin-bottom: 130px
			& + p
				width: 685px
			span
				color: $main_color
//	Секция why_site_card_items
.why_site_card_items
	text-align: center
	margin-top: 40px
	margin-bottom: 200px
	.why_site_card_item
		display: inline-block
		vertical-align: top
		margin-right: 105Px
		&:last-of-type
			margin-right: 0
		p
			width: 182px
			font-size: 16px

.cost_of_online_store
	&.why_site_card_item_sections
		svg
			left: 483px
//	Секция website_creating_a_corporate_identity
.website_promotion
	&.creating_a_corporate_identity
		min-height: 1218px
		.creating_a_corporate_identity_wrap
			h1
				margin: 131px auto 65px
				display: block
				float: none
			p
				width: 670px
				margin-bottom: 25px
				display: inline-block
				vertical-align: top
				font-size: 24px
				line-height: 1.2
				span
					@include font(#fff, 24px, $font_Amazing_Grotesk_Ultra, 1.2)
		.creating_a_corporate_identity_img
			float: left
			display: inline-block
		.creating_a_corporate_identity_txt
			display: inline-block
			width: 670px
		.website_promotion_clouds
			bottom: -485px;

//	Секция already_created_a_corporate_identity
.what_else_do
	&.already_created_a_corporate_identity
		background-color: #0b2848
		position: relative
		min-height: 595px
		h2
			margin-top: 40px
			margin-bottom: 40px
			text-align: center
			z-index: 2
			position: relative
			text-transform: none
			line-height: 1.2
		.already_created_a_corporate_identity_ul
			width: 370px
			text-align: left
			float: left
			margin-right: 30px
			&:first-of-type
				margin-left: 15px
			&:last-of-type
				margin-right: 0
				margin-left: 95px
				width: 284px
		ul
			padding: 0
			margin: 0
			li
				list-style: none
				margin-bottom: 25px
			i
				vertical-align: middle
				display: inline-block
				margin-right: 5px
			svg.svg_li
				width: 20px
				height: 20px
			span
				font-size: 30px
				display: inline-block
		.what_else_do_cloud
			bottom: -224px
			left: 0
			right: 0
			text-align: center

//	Секция what_else_do
.what_else_do
	&.form_style
		min-height: 1150px
		background: url(../img/what_tasks_are_performed_clouds.png) center top 100px no-repeat #03142e
		position: relative
		h2
			margin-top: 287px
		.what_else_do_line
			margin-top: 111px
		.what_else_do_items
			margin-top: 69px
		.examples_of_online_stores_decor
			position: absolute;
			bottom: -526px;
			right: 0;
			left: 0;
			text-align: center;
			z-index: 1
//	Секция style_remains
.style_remains
	h2
		margin-bottom: 5px
	p
		font-size: 36px
	i
		margin-right: 10px
	.style_remains_img_wrap
		margin-top: 40px
		margin-bottom: 50px
	.style_remains_img
		float: left
		margin-right: 30px
	.style_remains_txt
		width: 657px
		text-align: left
		float: left
		p
			font-size: 24px
			margin-bottom: 30px
			line-height: 1.2
		span
			@include font(#fff, 24px, $font_Amazing_Grotesk_Ultra, 1.2)
	form
		margin-bottom: 210px
		.style_remains_item
			display: inline-block
			margin-right: 30px
			input
				width: 270px
				height: 55px
				padding-left: 25px
				display: inline-block
				background-color: transparent
				border: 1px solid #fff
				font-size: 18px
				&:hover
					outline: 0
				&:active
					outline: 0
				&:focus
					outline: 0
				
		input[type=submit]
			width: 274px
			height: 57px
			font-size: 18px
			color: #000000
			text-transform: uppercase
			border: none
			background-color: $main_color
			transition: 0.5s
			&:hover
				outline: 0
				background-color: $auxiliary_color
			&:active
				outline: 0
			&:focus
				outline: 0
//	Секция form_style_portfolio
.our_work
	&.form_style_portfolio
		h2
			margin-top: 100px
		.portfolio_item
			&:last-of-type
				margin-bottom: 100px

//	Секция you_end_up
.what_else_do
	&.you_end_up
		background-color: #0b2848
		text-align: center
		h2
			margin-top: 100px
		.what_else_do_item
			width: 370px
			margin-bottom: 50px
			&:last-of-type
				margin-bottom: 80px
			p
				width: 100%
				font-size: 24px
				margin-top: 8px

//	Секция run_contextual_advertising
.what_else_do
	&.run_contextual_advertising
		min-height: 993px
		p
			width: 280px
			font-size: 24px
		.what_else_do_items
			text-align: center
			.what_else_do_item
				width: 300px
				p
					width: 100%
					margin-top: 13px
					font-family: $font_Amazing_Grotesk_Ultra

//	Секция get_everything
.what_else_do
	&.get_everything
		h2
			margin-top: 50px
			margin-bottom: 20px
		.get_everything_items
			text-align: left
			margin-left: 15px
		.get_everything_item
			width: 570px
			display: inline-block
			margin-bottom: 50px
			margin-right: 30px
			&:nth-of-type(even)
				margin-right: 0
			&:last-of-type
				margin-bottom: 100px
		.get_everything_item_img
			margin-right: 25px
			display: inline-block
			vertical-align: middle
			img
				font-family: FontAwesome
		.get_everything_item_txt
			width: 368px
			display: inline-block
			vertical-align: middle
			h3
				margin: 0
				font-size: 30px
				color: $main_color
			p
				width: 77%
				margin: inherit
		.what_else_do_cloud
			bottom: -225px
//	Секция running_PPC_advertising
.what_else_do
	&.running_PPC_advertising
		position: relative
		background: url(../img/what_tasks_are_performed_clouds.png) center top 100px no-repeat #0b2848
		h2
			margin-top: 90px

//	Секция  seven_main_tasks
.what_else_do
	&.seven_main_tasks
		background-color: #03142e
		h2
			text-transform: capitalize
			margin-bottom: 40px
			margin-top: 230px
		.what_else_do_items
			width: 830px
			margin: auto
		.what_else_do_item
			width: 245px
			p
				font-size: 17.7px
		.examples_of_online_stores_decor
			position: absolute
			bottom: -63px
			right: 0
			left: 0
			text-align: center
			z-index: 10
//	Секция that_you_get_in_the_end
.that_you_get_in_the_end
	background: url(../img/what_tasks_are_performed_clouds.png) center top 100px no-repeat #03142e
	h2
		width: 550px
		margin: 90px auto 30px
		font-size: 36px
		color: $main_color
		position: relative
		&:after
			content: ""
			background: url(../img/why_our_landing_sell_h2_decor.png)
			display: block
			width: 68px
			height: 74px
			position: absolute
			left: -46px
			top: -38px
	.that_you_get_in_the_end_items
		font-size: 0
	.that_you_get_in_the_end_item
		width: 270px
		display: inline-block
		vertical-align: top
		margin-right: 30px
		&:first-of-type
			margin-left: 15px
		&:last-of-type
			margin-right: 0
//	Секция creating_a_website
.website_promotion
	&.creating_a_website
		text-align: center
		h1
			margin-bottom: 15px
		p
			text-align: center
			font-size: 24px
			line-height: 1.2
			margin-bottom: 20px
		h2
			display: inline-block
			margin-top: 60px
			margin-bottom: 60px
			position: relative
			font-size: 36px
			color: $main_color
			line-height: 1.2
			text-transform: uppercase
			&:after
				content: ""
				background: url(../img/why_our_landing_sell_h2_decor.png)
				display: block
				width: 68px
				height: 74px
				position: absolute
				left: -46px
				top: -38px
		.creating_a_website_item
			&:nth-of-type(2)
				.creating_a_website_item_img
					margin-right: 30px
			&:nth-of-type(3)
				margin-bottom: 200px
		.creating_a_website_item_txt
			width: 682px
			display: inline-block
			vertical-align: middle
			margin-right: 20px
			p
				text-align: left
			span
				font-family: $font_Amazing_Grotesk_Ultra
		.creating_a_website_item_img
			display: inline-block
			vertical-align: middle
		.website_promotion_clouds
			bottom: -132px
//	Секция three_types_sell_website
.what_else_do
	&.three_types_sell_website
		min-height: 600px
		h2
			text-transform: capitalize
			line-height: 1.2
		.three_types_sell_website_items
			margin-top: 40px
			text-align: center
		.three_types_sell_website_item
			display: inline-block
			vertical-align: top
			margin-right: 65px
			&:last-of-type
				margin-right: 0
		.three_types_sell_website_txt
			h3
				font-size: 18px
				margin-bottom: 25px
			span
				font-family: $font_Amazing_Grotesk_Ultra
		a
			display: block
			padding: 20px 28px
			color: #000
			background-color: #eed350
			transition: background-color .5s
			&:hover
				background-color: $auxiliary_color
				text-decoration: none
			&:active
				background-color: $auxiliary_color
				text-decoration: none
			&:focus
				background-color: $auxiliary_color
				text-decoration: none
		.what_else_do_cloud
			bottom: -330px
			
//	Секция secret_of_creating_the_site
.our_achievements
	&.secret_of_creating_the_site
		background: url(../img/main_clouds.png) center top 50px no-repeat #03142e
		h2
			margin-top: 270px
		p
			width: 820px
			span
				font-family: $font_Amazing_Grotesk_Ultra

		.why_our_landing_sell_items
			margin-top: 20px
		.row
			& + .row
				.why_our_landing_sell_item
					margin-left: 215px
					&:last-of-type
						margin-bottom: 40px
		.row
			& + .row
				.why_our_landing_sell_item_txt
					p
						width: 580px
				a
					display: inline-block
					margin-bottom: 115px
					background-color: #eed350
					padding: 13.5px 46.5px
					color: #000
					font-size: 24px
					text-transform: uppercase
					transition: background-color .5s
					&:hover
						background-color: $auxiliary_color
						text-decoration: none
					&:active
						background-color: $auxiliary_color
						text-decoration: none
					&:focus
						background-color: $auxiliary_color
						text-decoration: none
//	Секция whats_next
.our_achievements
	&.whats_next
		h2
			margin-bottom: 20px
		.whats_next_item
			text-align: left
			margin-bottom: 230px
		.whats_next_item_img
			display: inline-block
			vertical-align: top
			margin-right: 20px
		.whats_next_item_txt
			display: inline-block
			vertical-align: top
			text-align: left
			p
				width: 670px
				margin-top: 0
				margin-bottom: 19px
		.cost_of_online_store_bot_decor
			svg
				bottom: -35px
//	Секция who_is_behind_all_this
.what_else_do
	&.who_is_behind_all_this
		min-height: 520px
		h2
			margin-bottom: 10px
		p
			width: 100%
			margin-bottom: 50px
			font-size: 24px
		.what_else_do_items
			width: 100%
		.what_else_do_item
			width: 170px
			p
				font-size: 18px
			span
				font-family: $font_Amazing_Grotesk_Ultra

//	Секция we_are_constantly_developing
.portfolio
	&.we_are_constantly_developing
		h2
			margin-top: 0
			margin-bottom: 10px
		p
			font-size: 24px
			line-height: 1.2
			margin-bottom: 50px
		.portfolio_item_wrap
			min-height: 350px

//	Секция
.what_else_do
	&.seven_factor
		background-color: #0b2848
		h2
			margin-top: 50px
		.get_everything_item_txt
			h3
				line-height: 1.2
			p
				width: 100%
				font-size: 24px

//	Секция site_content
.website_promotion
	&.site_content
		h1
			margin-bottom: 40px
		.creating_a_website_item
			margin-bottom: 60px
		.creating_a_website_item_txt
			width: 635px
			margin-right: 10px
			text-align: left
			h3
				font-size: 24px
				font-family: $font_Amazing_Grotesk_Ultra
				text-transform: capitalize
			p
				font-size: 18px
// Секция what_content_we_are_creating
.what_else_do
	&.what_content_we_are_creating
		.what_else_do_line
			top: 72px
		.three_types_sell_website_items
			margin-top: 77px
			position: relative
			z-index: 3
		.three_types_sell_website_item
			width: 170px
			margin-right: 24px
		.three_types_sell_website_txt
			p
				width: 100%
				font-size: 16px
				margin-top: 5px
		a
			width: 370px
			margin: 285px auto 100px
			padding: 12px 28px
			position: relative
			background-color: #0b2848
			border: 1px solid #fff
			font-size: 24px
			color: #fff
			text-transform: uppercase
			z-index: 5
		.what_else_do_cloud
			bottom: -195px
// Секция pleasure_to_read
.portfolio
	&.pleasure_to_read
		overflow: visible
		p
			margin-bottom: 45px
		.portfolio_item_wrap
			min-height: 100%
		.book_now_form
			margin: 0 auto 80px
			input[type=submit]
				width: 100%
				padding: 0
		.examples_of_online_stores_decor
			position: absolute
			bottom: -65px
			right: 0
			left: 0
			text-align: center
			z-index: 1
//	Секция price_for_content
.cost_of_online_store
	&.price_for_content
		.table
			width: 770px
			margin: 0 auto 220px
			font-family: $font_Amazing_Grotesk_Ultra
			color: #000000
			background-color: #ffffff
			tbody
				tr
					&:last-of-type td
						border: none
			th
				width: 370px
				height: 135px
				font-size: 36px
				border-bottom: 1px solid #ffb819
				&.table_th_r
					width: 400px
				&:first-of-type
					border-bottom: 1px solid #fff
					background-color: #ffb819
					display: inline-block
					width: 100%
					line-height: 135px
			td
				height: 75px
				font-size: 24px
				border-bottom: 1px solid #ffb819
				&:first-of-type
					border-bottom: 1px solid #fff
					background-color: #ffb819
					display: inline-block
					width: 100%
					line-height: 75px

//	Секция more_than_good_content
.what_else_do
	&.more_than_good_content
		min-height: 590px
		background-color: #03142e
		h2
			text-transform: capitalize
			margin-top: 100px
			& ~ h2
				margin-top: 30px
		p
			width: 700px
			font-size: 24px
		.get_everything_item
			&:last-of-type
				margin-bottom: 0
		.get_everything_item_txt
			h3
				margin-bottom: 5px
				font-size: 18px
				font-family: $font_Amazing_Grotesk_Ultra
			p
				font-size: 18px

//	Секция results_of_our_clients
.cost_of_online_store
	&.results_of_our_clients
		overflow: visible
		.results_of_our_clients_title
			h2
				width: 580px
				margin: 47px auto 30px
				font-size: 36px
				color: #eed350
				position: relative
				&:after
					content: ""
					background: url(../img/why_our_landing_sell_h2_decor.png)
					display: block
					width: 68px
					height: 74px
					position: absolute
					left: -27px
					top: -40px
		.results_of_our_clients_slider
			width: 970px
			position: relative
			margin: 0 auto 125px
			border: 10px solid #f5d9a8
			i
				font-size: 72px
				color: $main_color
				transition: 0.5s
				&:hover
					color: $auxiliary_color
			.customBtn
				display: inline-block
				position: absolute
				cursor: pointer
			.customPrevBtn4
				top: calc(50% - 36px)
				left: -65px
			.customNextBtn4
				top: calc(50% - 36px)
				right: -65px
		.results_of_our_clients_slider_item
			width: 950px
			height: 400px
			position: relative
		.results_of_our_clients_slider_item_txt
			position: absolute
			top: 80px
			left: 180px
			z-index: 10
			text-align: left
			h3
				margin-bottom: 0
				margin-top: 0
				@include font($main_color, 30px, $font_Amazing_Grotesk_Demi_Bold, 1.3)
			ul
				padding: 0
				margin: 0
				li
					list-style: none
					@include font($main_txt_color, 24px, $font_Amazing_Grotesk_Demi_Bold, 1.4)
				span
					color: $main_color
		.owl-controls
			position: absolute
			right: 5px
			bottom: 5px
			.owl-dot
				width: 10px
				height: 10px
				display: inline-block
				margin-right: 5px
				background-color: #f5d9a8
				border-radius: 50%
				transition: 0.5s
				&:hover
					background-color: $main_color
				&.active
					background-color: $main_color
		.book_now_form
			width: 570px
			margin: 0 auto 200px
			input[type=submit]
				width: 100%


//	Секция  inner_portfolio
.cost_of_online_store
	&.inner_portfolio
		background-color: #ffffff
		.inner_portfolio_img
			text-align: center
			position: relative
			img
				width: 100%
				display: block
				margin: 0 auto
		.inner_portfolio_title
			position: absolute
			top: 230px
			left: 0
			right: 0
			margin: auto
			h1
				color: #03142e
				margin-bottom: 0px
			p
				color: #03142e
				font-size: 26px
		.book_now_form
			width: 770px
			input
				color: #03142e
				border: 1px solid #03142e
				&::-webkit-input-placeholder
					color: #03142e
				&:-moz-placeholder
					color: #03142e
				&::-moz-placeholder
					color: #03142e
				&:-ms-input-placeholder
					color: #03142e
			textarea
				color: #03142e
				border: 1px solid #03142e
				&::-webkit-input-placeholder
					color: #03142e
				&:-moz-placeholder
					color: #03142e
				&::-moz-placeholder
					color: #03142e
				&:-ms-input-placeholder
					color: #03142e
			input[type=submit]
				border: none
//	Секция
//	Секция
//	Секция
//	Секция






// Секия footer 
.footer
	min-height: 170px
	background-color: #142131
	@include font(#fff, 22px, $font_Amazing_Grotesk_Ultra)
	&.seo
		.footer_nav
			margin-top: -30px
	.copyright
		display: inline-block
		margin-top: 55px
		margin-left: 10px
		text-transform: uppercase
		font-size: 20px
		p + p
			margin-top: -6px
			font-size: 20px
			color: #b0a79e
			text-transform: none
	.footer_nav
		display: inline-block
		vertical-align: middle
		margin-left: 46px
		margin-top: -65px
		ul
			padding: 0
			margin: 0
			li
				margin-right: 24px
				list-style: none
				display: inline-block
				&:last-of-type
					margin-right: 0
				a
					text-transform: uppercase
					font-size: 14.5px
					color: #fff
					transition: 0.5s
					&:hover
						text-decoration: none
						color: $main_color
	.footer_phone_mail
		display: inline-block
		vertical-align: top
		margin-left: 31px
		margin-top: 30px
		a
			display: inline-block
			font-size: 22px
			color: #fff
			&:hover
				text-decoration: none
			&:focus
				text-decoration: none
			&:active
				text-decoration: none
			&.mail
				font-size: 20px
		.fa
			color: $main_color
			margin-right: 14px
	.footer_social
		margin-top: -35px
		text-align: center
		font-size: 24px
		ul
			padding: 0
			margin: 0
			li
				list-style: none
				display: inline-block
				margin-right: 24px
				&:last-of-type
					margin-right: 0
				.fa
					color: $main_color
					transition: 0.5s
				a
					&:hover .fa
						color: $auxiliary_color

@import "media"

